
#suchana{
	margin-top:120px;
}
#reset{
	width:295px;
	height:60px;
	background-color:orange;
}
/*thisis for the all button*/
#one{
	width:70px;
}
#myform{
	height:60px;
	width:290px;
	background-color: black;
}